mat-spinner {
    /* center the spinner */
    margin: auto;
}

.errorMessage {
    background-color: #fdd;
    border: #a00 1px solid;
    color: #a00;
    margin: 10px 0;
}

.form {
    border: #ccc 1px solid;
}

h3 {
    color: #333;
}

mat-form-field {
    width: 100%;
}

button {
    margin: 5px;
}