<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card class="errorMessage" *ngIf="errorMessage != null">
    <p>{{errorMessage}}</p>
</mat-card>

<mat-card class="form" *ngIf="!loading">
    <h3 class="mat-title">Create an account</h3>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <!-- user name input -->
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput name="username" ngModel #username="ngModel" required />
            <mat-error *ngIf="username.invalid">A user name is required.</mat-error>
        </mat-form-field>
        <!-- user email input -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput name="email" ngModel #email="ngModel" required email />
            <mat-error *ngIf="email.invalid">An email is required.</mat-error>
        </mat-form-field>
        <!-- password input -->
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput name="password" ngModel #password="ngModel" required />
            <mat-error *ngIf="password.invalid">A password is required.</mat-error>
        </mat-form-field>
        <!-- login button -->
        <button mat-flat-button color="primary" type="submit">Signup</button>
    </form>
</mat-card>