mat-spinner {
    /* center the spinner */
    margin: auto;
}

.uploadImageDiv {
    margin-bottom: 10px;
}

/*
 * Hide the default file picker (that has no Material style)
 * When the custom "Add image" button is clicked, we simulate a click on this file picker
 */
input[type="file"] {
    visibility: hidden;;
}

.preview {
    height: 5rem;  /* rem = root element font size */
    margin: 1rem 0;
}

.preview img {
    height: 100%;   /* max height is 100% of the container */
}

.invalidImageError {
    /* mimic the style of the mat-error (not usable here since no actual matInput) */
    font-size: 75%;
    color: #f44336;
    font-weight: 400;
    padding-left:10px;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

mat-form-field,
textarea {
    width: 100%;
}

button {
    margin: 5px;
}