<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>Post title</mat-label>
            <input matInput name="title" ngModel required #title="ngModel" />
            <mat-error *ngIf="title.invalid">A post title is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Post content</mat-label>
            <textarea matInput name="content" rows="3" ngModel required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">A post content is required.</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Save post</button>
    </form>
</mat-card>