mat-spinner {
    margin: auto;
}

.noPostMess {
    text-align: center;
}

/* show user name as a pill */
.username {
    color: white;
    background-color: #673ab7;   /* primary */
    margin-right: 20px;
    padding: 3px 8px;
    border-radius: 10px;
}

.postTitle {
    padding: 3px 0;
    border-radius: 10px;
}

.postImage {
    width: 100%;
}

.postImage img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
    margin-top: 10px;
}