mat-spinner {
    margin: auto;
}

.noPostMess {
    text-align: center;
}

.postImage {
    width: 100%;
}

.postImage img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
    margin-top: 10px;
}